<section
  id="about"
  class="mb-16 scroll-mt-24 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="About me"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only"
    >
      About
    </h2>
  </div>
  <div class="text-slate-400">
    <p class="mb-4">
        I'm Francisco Soares, a Frontend Developer with a passion for clean, scalable
        code and intuitive user experiences.
    </p>
    <p class="mb-4">
        With a Bachelor's degree in Software
        Engineering from Universidade Lusíada de Lisboa and hands-on experience with
        modern frontend technologies, I specialize in crafting responsive, user-focused
        web applications.
    </p>
    <p class="mb-4">
        Whether it's building complex enterprise platforms or launching full-featured personal apps, I aim to create meaningful
        digital experiences that are both elegant and efficient.
    </p>
  </div>
</section>
