<section
  id="getInTouch"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Get In Touch"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only"
    >
      Get In Touch
    </h2>
  </div>
  <div class="flex justify-between flex-wrap">
    <div class="flex text-md">
      <div class="flex flex-col gap-3">
        <div><span class="text-slate-500">PHONE:</span></div>
        <div><span class="text-slate-500">EMAIL:</span></div>
        <div><span class="text-slate-500">LOCATION:</span></div>
      </div>
      <div class="flex flex-col gap-3 ml-5">
        <div><span class="text-slate-200">+351 969 231 794</span></div>
        <div><span class="text-slate-200">francisco.soares.developer&#64;gmail.com</span></div>
        <div><span class="text-slate-200">Lisbon, Portugal</span></div>
      </div>
    </div>
    <div class="flex flex-col">
        <a href="mailto:francisco.soares.developer@gmail.com"><button type="button" class="mt-5 ml-0 sm:mt-0 sm:ml-5 cursor-pointer text-teal-400 border rounded-lg py-2 px-4">Say Hello</button></a>
    </div>
  </div>
  <div class="mt-8">
    <span class="text-md text-slate-500">© {{year()}} Francisco Soares. All rights reserved</span>
  </div>
</section>
